<div class="col-md-9">
	<h1>Board</h1>

	<div id="layer" style="position: fixed; z-index: 0; padding-top: 10px;">
		<div id="column" style="position: fixed; z-index: 16;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 -48px"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 32px; z-index: 15;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 64px; z-index: 14;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 96px; z-index: 13;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 128px; z-index: 12;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 160px; z-index: 11;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 192px; z-index: 10;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 224px; z-index: 9;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 256px; z-index: 8;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 288px; z-index: 7;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 320px; z-index: 6;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 352px; z-index: 5;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 384px; z-index: 4;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 416px; z-index: 3;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 448px; z-index: 2;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>

		<div id="column" style="position: fixed; margin-left: 480px; z-index: 1;">
			<div id="tile" style="width:35px; height: 48px; background: url('/images/SpriteSD.png') 0 0"></div>

			<div id="tile" style="width:35px; height: 48px; margin-top: -3px;background: url('/images/SpriteSD.png') 0 0"></div>
		</div>
	</div>
</div>
<div class="col-md-3">
	<h2>Game Info</h2>
</div>